---
---
 
$fonts: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
@function str-repeat($string, $times) {
  $result: "";
  @for $i from 1 through $times {
    $result: $result + $string;
  }
  @return $result;
}

  body {
    font: normal normal 12px $fonts;
    background: url(bkg.jpg) repeat scroll top left;
    padding: 0 str-repeat(40px, 3);
    color: white;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
    margin: 25px;
}
